
$fs__color__background__primary: #FFFFFF;
$fs__color__accent__primary: #6BF178;
$fs__color__border__dark: #373F47;
$fs__color__border__light: #8b847f;
$fs__color__text_primary: #333;
$fs__color__text_light: #aaa;
