
@import "../../config";
@import "../../_utils/flexbox";

@mixin fs-components--includes--react-toggle($prefix) {

  $color_checked: $fs__color__accent__primary;
  $color_checked_lighten: lighten($color_checked, 8);
  $color_unchecked: $fs__color__border__dark;
  $color_unchecked_lighten: lighten($color_unchecked, 20);

  #{$prefix}toggle {
    display: inline-block;
    padding: 2px 4px;

    #{$prefix}toggle-label {
      @include flexbox;
      @include align-items(center);
    }

    #{$prefix}toggle-label-text {
      margin-left: 4px;
      user-select: none;
      color: $color_unchecked;
    }

    #{$prefix}toggle-label:hover #{$prefix}-toggle-label-text {
      color: #797979;
    }

    .react-toggle {
      touch-action: pan-x;

      display: inline-block;
      position: relative;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      padding: 0;
      user-select: none;
    }

    .react-toggle-screenreader-only {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    .react-toggle--disabled {
      cursor: not-allowed;
      opacity: 0.35;
      -webkit-transition: opacity 0.25s;
      transition: opacity 0.25s;
    }

    .react-toggle-track {
      width: 50px;
      height: 24px;
      padding: 0;
      border-radius: 30px;
      background-color: $color_unchecked_lighten;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

    .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
      background-color: $color_unchecked;
    }

    .react-toggle--checked .react-toggle-track {
      background-color: $color_checked_lighten;
    }

    .react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
      background-color: $color_checked;
    }

    .react-toggle-track-check {
      position: absolute;
      width: 14px;
      height: 10px;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      line-height: 0;
      left: 8px;
      opacity: 0;
      -webkit-transition: opacity 0.25s ease;
      -moz-transition: opacity 0.25s ease;
      transition: opacity 0.25s ease;
    }

    .react-toggle--checked .react-toggle-track-check {
      opacity: 1;
      -webkit-transition: opacity 0.25s ease;
      -moz-transition: opacity 0.25s ease;
      transition: opacity 0.25s ease;
    }

    .react-toggle-track-x {
      position: absolute;
      width: 10px;
      height: 10px;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      line-height: 0;
      right: 10px;
      opacity: 1;
      -webkit-transition: opacity 0.25s ease;
      -moz-transition: opacity 0.25s ease;
      transition: opacity 0.25s ease;
    }

    .react-toggle--checked .react-toggle-track-x {
      opacity: 0;
    }

    .react-toggle-thumb {
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      position: absolute;
      top: 1px;
      left: 1px;
      width: 22px;
      height: 22px;
      border: 1px solid $color_unchecked_lighten;
      border-radius: 50%;
      background-color: #FAFAFA;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      transition: all 0.25s ease;
    }

    .react-toggle--checked .react-toggle-thumb {
      left: 27px;
      border-color: $color_checked_lighten;
    }
  }

}
